<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transportes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% block content %}
        <h1 class="d-flex justify-content-center">Login</h1>
        <div class="container">
                <div class="d-flex justify-content-center">
                    <div class="col col-xl-3" >
                        <form action="/dashboard" method="POST">
                            {{ form.csrf_token }}
                            <fieldset>
                                <div class="form-group">
                                    <label class="mb-2 mt-2 flex-wrap" for="email">E-mail</label>
                                    {{ form.email(class="mt-2 w-100 form-control", placeholder="Digite seu e-mail...") }}
                                <div class="form-group">
                                    <label class="mb-2 mt-2" for="senha">Senha</label>
                                    {{ form.senha(class="mt-2 w-100 form-control", placeholder="Digite sua senha...") }}
                                </div>
                                <div class="d-flex mt-3 justify-content-center">
                                    <button type="submit" name="submit" id="submit" class="btn btn-secondary btn-salvar">Entrar</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
    {% endblock %}
</body>
</html>